spring:
  cloud:
    stream:
      bindings:
        inputChannel:
          destination: emailSenderRegistration
          binder: local_rabbit
          consumer:
            concurrency: 10
            max-attempts: 1
          group: emailRegistrationConsumers
        outputChannel:
          destination: emailSenderRegistration
          binder: local_rabbit
      binders:
        local_rabbit:
          type: rabbit
          environment:
            spring:
              rabbitmq:
                host: localhost
                port: 5672
                username: guest
                password: guest
                virtual-host: /
