version: '2.1'
services:
  #  kotlin:-arch
  #    build: kotlin-arch
  #    image: kotlin-arch
  #    depends_on:
  #      - kotlin-mongo
  #    environment:
  #      JAVA_OPTS: -Dmongo.host=kotlin-mongo -agentlib:jdwp=transport=dt_socket,server=y,address=1044,suspend=n
  #    ports:
  #      - "${KOTLIN_USER_SERVICE_DEBUG_PORT:-1045}:1044"
  mongo:
    image: mongo
    ports:
      - "27017:27017"
  rabbitmq:
    image: rabbitmq:management
    ports:
      - "5672:5672"
      - "15672:15672"
